body {
  margin: 0;
  padding: 52px 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1 {
  color: #555;
  font-weight: normal;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #eeeff0;
  border-bottom: .1rem solid #959595;
  left: 0;
  height: 50px;
  position: fixed;
  padding: 0 15px;
  right: 0;
  top: 0;
  z-index: 1;
  box-shadow: 1px 1px 15px #5d5d5d;
}

.dispatchers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dispatch-button {
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
  border: 1px solid rgba(57, 128, 221, 0.5);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 5px;
  color: #313031;
  font-size: 12px;
  line-height: 1.5em;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

.dispatch-button:hover {
  background-color: rgba(142, 141, 142, 0.4);
}

.dispatch-button:active {
  background-color: rgba(205, 204, 205, 0.4);
}

.dispatch-input {
  padding: 5px 10px;
  border: 1px solid rgba(57, 128, 221, 0.5);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #313031;
  font-size: 12px;
  line-height: 1.5em;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

footer {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  background: #dfe0e1;
  border-top: .1rem solid #d1d1d1;
  height: 50px;
  padding: 0 15px;
  right: 0;
  z-index: 1;
  box-shadow: 1px -1px 15px #5d5d5d;
}

.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a,
a:visited {
  color: black;
}

.code-container {
  padding-left: 1.125em;
}

.code-container > pre {
  font-family: monaco, Consolas, "Lucida Console", monospace;
}
